body {
  font-family: Arial, sans-serif;
  background-color: #0a0c10;
  color: #94a3b8;
}

header {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f1115;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #1e293b;
  font-family: "JetBrains Mono";
  color: #4b5563;
  font-weight: 400;
  font-size: 0.75rem;
}

.nav-icon {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: 1rem;
  color: #94a3b8;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.nav-icon:hover {
  color: #2b7fff;
  background-color: rgb(43, 127, 255, 0.1);
}

.right-nav-tray {
  display: flex;
  gap: 1rem;
}

.accordian {
  color: #ffffff;
}

.accordian .profile-info {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.accordian .profile-info svg {
  width: 2.5rem;
  height: 2.5rem;
}

.accordian .title {
  padding: 0.5rem 2rem;
  cursor: pointer;
  transition: 0.4s;
  font-family: "JetBrains Mono";
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1e293b;
}

.accordian .title::marker {
  display: none;
}

.accordian .title h1 {
  font-weight: 600;
  font-size: 1rem;
}
.accordian .title p {
  font-weight: 400;
  font-size: 0.75rem;
}
.accordian .content {
  display: grid;
  grid-template-columns: max-content minmax(0, 1fr);
}
.accordian .content .label {
  color: #94a3b8;
  font-family: "JetBrains Mono";
  /* regular */
  font-weight: 400;
  /* font-size: 0.75rem; */
  border-bottom: 1px solid #1e293b;
  padding-left: 2rem;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  min-width: 120px;
}
.accordian .content .value {
  color: #ffffff;
  border-bottom: 1px solid #1e293b;
  font-family: "JetBrains Mono";
  font-weight: 600;
  padding-left: 1rem;
  padding-right: 2rem;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  word-break: break-word;
}
.chip {
  background-color: #212124;
  color: #94a3b8;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: inline-block;
}

details.accordian summary.title > svg {
  transform: rotate(0deg);
  transform-origin: 50% 50%;
  transition: transform 200ms ease;
}

/* rotate when <details> is open */
details.accordian[open] summary.title > svg {
  transform: rotate(180deg);
}

main {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  color: #94a3b8;
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75;
}

article h2 {
  color: #ffffff;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-family: "JetBrains Mono";
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.3;
}

article h3 {
  color: #ffffff;
  margin-top: 2rem;
  /* margin-bottom: 0.25rem; */
  font-family: "JetBrains Mono";
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4;
}

article p {
  margin-bottom: 1.5rem;
}

article ol {
  margin-bottom: 1rem;
  padding-left: 1.5rem;
  border-left: 5px solid #1f2937;
  list-style-position: inside;
}

article ol li {
  padding-left: 1rem;
  margin-bottom: 1.5rem;
}

article ol li h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
  display: inline;
}
article ol li::marker {
  font-family: "JetBrains Mono";
  font-weight: 600;
  color: #ffffff;
}

article ol li span {
  display: block;
  /* margin-top: 0.5rem; */
}

@media (max-width: 425px) {
  .topnav {
    padding: 0.5rem 1rem;
  }
  .accordian .title {
    padding: 0.5rem 1rem;
  }
  .accordian .profile-info {
    gap: 0.5rem;
  }
  .accordian .title h1 {
    font-size: 0.875rem;
  }
  .accordian .title p {
    font-size: 0.625rem;
  }
  .accordian .content .label {
    padding-left: 1rem;
    min-width: 100px;
    font-size: 0.75rem;
  }
  .accordian .content .value {
    padding-right: 1rem;
    font-size: 0.75rem;
  }
  main {
    padding: 1rem;
  }
}
